langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-anthropic
langgraph
chromadb
streamlit
openai
anthropic
python-dotenv
flask
flask-cors==6.0.2
supabase
langsmith
